ion-content {
  --ion-background-color: #fff;
}

ion-list {
  margin-top: 20px;
}

ion-item-options {
  --background: transparent;
  --ion-color-danger: #f53d3d;
}

ion-button {
  margin-top: 20px;
}
